/* MoviesList.module.css */
.movieList{
    list-style: none;
}
.movieLink {
  color: black;             
  text-decoration: none;    
  transition: color 250ms;   

}

.movieLink:hover {
  color: orange;             
}